@keyframes moveBtn
    0%
        transform: translateX(-200px)
    50%
        transform: translateX(0)

@keyframes fade-in
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes show-error
    0%
        opacity: 0
        transform: translateX(10px)
    100%
        opacity: 1
        transform: translateX(0)

@keyframes showSidebarShadow
    0%
        opacity: 0
    100%
        opacity: .7

@keyframes hideSidebarShadow
    0%
        opacity: .7
    100%
        opacity: 0

@keyframes showSidebarWrap
    0%
        transform: translateX(100%)
    100%
        transform: translateX(0)

@keyframes showSearchWrap
    0%
        transform: translateY(-100%)
    100%
        transform: translateY(0)

@keyframes hideSidebarWrap
    0%
        transform: translateX(0)
    100%
        transform: translateX(100%)

@keyframes hideSearchWrap
    0%
        transform: translateY(0)
    100%
        transform: translateY(-100%)

@keyframes showSidebarMenu
    0%
        transform: translateX(-100%)
    100%
        transform: translateX(0)

@keyframes showSidebarSwitcher
    0%
        transform: translateY(-100%)
    100%
        transform: translateY(0)

@keyframes showSidebarSocial
    0%
        transform: translateY(-150%)
    100%
        transform: translateY(0)

@keyframes showSidebarLine
    0%
        height: 0
        bottom: 0
    50%
        height: 70vh
    100%
        height: 0
        bottom: 100%

@keyframes showSearchLine
    0%
        width: 0
        left: 0
    50%
        width: 70vw
    100%
        width: 0
        left: 100%

@keyframes closeCircle
    0%
        stroke-dasharray: 0 1000
    100%
        stroke-dasharray: 120 120

@keyframes show-answer
    0%
        opacity: 0
        transform: translateX(-10px)
    100%
        opacity: 1
        transform: translateX(0)

@keyframes lineBig
    0%
        opacity: 0
        transform: translateY(-100%)
    100%
        opacity: 1
        transform: translateY(0)

@keyframes mainSliderElement
    0%
        height: 145px
    30%
        height: 0
    70%
        height: 175px
    100%
        height: 145px

.fade-enter-active, .fade-leave-active
    transition: opacity .5s

.fade-enter, .fade-leave-to
    opacity: 0

.toogletext-enter-active, .toogletext-leave-active
    transition: opacity .5s

.toogletext-enter, .toogletext-leave-to
    opacity: 0

.faderight-enter-active, .faderight-leave-active
    transition: opacity .5s, margin-left .5s ease
    //transform: translateX(-100px)
    margin-left: -200px

.faderight-enter, .faderight-leave-to
    opacity: 0

.fadeleft-enter-active, .fadeleft-leave-active
    transition: opacity .5s, margin-left .5s ease
    //transform: translateX(100px)
    margin-left: 200px

.fadeleft-enter, .fadeleft-leave-to
    opacity: 0
